<h1>PEBKAC PROBLEMS</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeWPkvjItcx6IrmCrcXQWo-AIMjc_rInanGUivkmOEJHjtdCDM" />
<br>
  <br>
    <br><br>
      <table>
  <tr>
    <th>Problem</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= topic.description %></td>
      <td><%= pluralize(topic.votes.length, "vote") %></td>
      <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
      <td><%= link_to 'Show', topic %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Destroy', topic, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
